[data-entity]{
    padding:.25em .35em;
    margin:0 .25em;
    line-height:1;
    display:inline-block;
    border-radius:.25em;
    border:1px solid
}
[data-entity]:after{
    box-sizing:border-box;
    content:attr(data-entity);
    font-size:.6em;
    line-height:1;
    padding:.35em .35em;
    border-radius:.35em;
    text-transform:uppercase;
    display:inline-block;
    vertical-align:middle;
    margin:0 0 .1rem .5rem
}